@font-face {
    font-family: bign;
    src: url('../../font/bign.ttf');
}
.barra-cima{
    position:fixed;
    z-index:100000;
    
    width: 100%;
    font-family:"bign";
}
.navbar-light .navbar-nav .nav-link {
    color: #212121;
    
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-family:"bign";
    
}

.linkTitulo{
    background:green;
}
.imgLogoBar{
    width:10%;
   
    
}
.naoFixo{
    position: relative;
}
.sombra{
    box-shadow: 10px 2px 8px gray;
}

