.barra-cima{
    position:fixed;
    z-index:100000;
    
    width: 100%;
    
}
.navbar-light .navbar-nav .nav-link {
    color: #212121;
    
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-family:"bign";
}
.linkTitulo{
    
    display: flex;
    
}
.imgLogoBar{
    width:30%;
   
    
}


