

.cadastroNoticia h1{
    text-transform: uppercase;
    text-align: center;
}
.imagemInput{
    margin-bottom:5%;
}
.caixa-confirma-aparece{
    position: fixed;
    width: 100%;
    height:100vh;
    left:0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    
}
.quadro-escolha{
    
    height: 280px;
    background-color: white;
    border-radius: 7px;
    margin-top:10%;
    text-align: center;
}

.img-processando{
    width: 80%;
    margin-top: 20%;
    margin-left:40px;
}

.img-concluido{
    width: 80%;
    margin-top: 0;
    margin-left:30px;
}
.ativo{
    display: block;
}
.desativado{
    display: none;
}

.quadro-escolha button{
    margin-top:20%;
    width: 100%;
}
.formulario{
    margin-bottom:20px;
    
}
.formulario h1{
    margin-top:60px;
    margin-bottom:50px;
    font-weight:bold;
    text-align:center;
}
.formulario h2{
    margin-top:60px;
    margin-bottom:20px;
    font-weight:bold;
}