.imgMapa{
    margin-top:20px;
}
.imgMapa {
    width:100%;
}
.textoCeara{
    width:80%;
    
}
.textoCeara img{
    width:50%;
    margin-left:-35%;
    margin-top:10%;
}
#ceara{
    background:#C1DFF0;
    padding-top:3%;
}
/* .cearadiv{
    padding-top:10%;
} */