.divDestaque{
    
    padding-top:50px;
    background-color: #F1FFFA;
}

.mapaCidade{
    /* display: flex; */
    position:relative;
}
.mapSvg{
    width:80%;
}
.mapSvg svg{
    width:80%;
}


/* texto */



@keyframes fadeIn{
    from{   
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
}