@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.divMissao{
    font-family: 'Roboto', sans-serif;
    padding-top:2%;
    
}
.divMissao h1{
    text-align: center;
    font-size:40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.conteudo{
    display: flex;
    
    padding-bottom:50px;
    
}

.imagemLogo{
    width: 40%;
    
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    padding:5%;
}
.imagemLogo img{
    width: 100%;
}

.textoPortal{
   
    font-size:20px;
    width:100%;
    margin-left:2%;
    margin-top:5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.textoNoticiaPrincipal{
    font-size:20px;
    width:60%;
    display: flex;
    flex-wrap: wrap;
    
    margin-left:2%;
    margin-top:5%;
    
}

.noticiaPrincipal{
    display:flex;
    margin-bottom: 3%;
    width:100%;
}
.noticiaPrincipal a{
    color:black;
    text-decoration: none;
}
.noticiaImagemPrincipal{
    
    width:50%;
    
}
.noticiaImagemPrincipal img{
    width:100%;
    border-radius:7px;
}
.manchete{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:2%;
    
}
.textoNoticiaPrincipal h3{
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    color:blue;
    
}
.textoNoticiaPrincipal h1{
    font-size: 18px;
    text-align: left;
}
.textoNoticiaPrincipal h2{
    font-size: 14px;
    text-align: left;
    
}
.textoNoticiaPrincipal h1:hover{
    color:blue;
}


/* Missao2.html */
.textoMissao2{
    display: flex;
}
.textoMissao2 p{
    width:50%;
    font-size:22px;
}
.imagemLogo2{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    margin-left:5%;
}
.imagemLogo2 img{
    width:100%;
}
.conteudo2{
    margin-top:5%;
}
.missao2{
    padding-top:8%;
   
}
