.divMissao{
    font-family: "bign";
    margin-top:50px;
}
.divMissao h1{
    text-align: center;
    font-size:4vw;
    font-weight: 600;
}
.conteudo{
    display: flex;
    
    padding-bottom:50px;
    
}

.imagemLogo{
    width: 50%;
    margin-top:-80px;
}
.imagemLogo img{
    width: 100%;
}

.textoPortal{
    font-size:1.5vw;
    width:50%;
    margin-top:50px;
}

/* Missao2.html */
.textoMissao2{
    display: flex;
}
.textoMissao2 p{
    width:50%;
    font-size:1.5vw;
}
.imagemLogo2{
    width:50%;
    margin-top:15%;
    margin-left:5%;
}
.imagemLogo2 img{
    width:80%;
}
.conteudo2{
    margin-top:5%;
}
.missao2{
    padding-top:3%;
    background:#EDD382;
}
